<div class="container">
    <div class="img">
        <img src="profile_img/upload-user.png" width="50px" alt="">
    </div>
    <div class="profile-name">
        <h2 id="profile-name">John Doe</h2>
        <p>London, United Kingdom</p>
    </div>
    <div class="role">
        <p>"Front-end developer and avid reader."</p>
    </div>
    <div class="media">
        <button>GitHub</button>
        <button>Frontend Mentor</button>
        <button>Linkedin</button>
        <button>Twitter</button>
        <button>Instagram</button>
    </div>
</div>