<div class="body-1">
    <div class="body-2">
        <img src="task_2_img/illustration-article.svg" alt="">
        <p class="Learning-p">Learning</p>
        <p class="pub-p">Published 21 Dec 2023</p>
        <h5>HTML & CSS foundations</h5>
        <p class="content-p">These languages are the backbone of every website, defining structure, content, and
            presentation.</p>
        <div  class="body-3">

            <img src="task_2_img/image-avatar.webp" alt="">
            <p class="author-p">Greg Hooper</p>
        </div>

    </div>
</div>