<div class="main-container">
    <!-- side Menu -->
    <div class="container-img">
        <img src="register_img/bg-sidebar-desktop.svg" alt="">

        <div class="side-menu">
            <div class="side-content" *ngFor="let item of menuData">
                @if(sideMenu == item.id){
                <div class="side-acitive-number">
                    <h5>{{item.id}}</h5>
                </div>
                }@else{
                <div class="side-number">
                    <h5>{{item.id}}</h5>
                </div>
                }
                <div class="content">
                    <h5 class="steps">{{item.step}}</h5>
                    <h5 class="menu">{{item.title}}</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- forms1 -->
    <div class="forms1">
        <div class="container-forms" [formGroup]="regForm">
            @switch (sideMenu) {
            @case (1) {
            <div class="forms-header">
                <h1>Personal info</h1>
                <p>Please provide your name, email address, and phone number</p>
            </div>
            <div class="forms-input" formGroupName="personalInfo">
                <div class="input-field">
                    <label for="">Name</label>
                    <input type="text" formControlName="name" placeholder="Enter name" [ngClass]="{'validate' :regForm.controls['personalInfo'].value['name'] === '' && submited}">
                </div>
                <div class="input-field">
                    <label for="">Email Address</label>
                    <input type="email" formControlName="email" placeholder="Enter email... (@gmail.com)" [ngClass]="{'validate' :regForm.controls['personalInfo'].value['email'] === '' && submited}">
                </div>
                <div class="input-field">
                    <label for="">Phone Number</label>
                    <input type="text" appOnlyNumbers formControlName="phone" placeholder="Enter phone number" [ngClass]="{'validate' : regForm.controls['personalInfo'].value['phone'] === '' && submited}">
                </div>                  
                <div class="input-btn">
                    <button class="back" [routerLink]="['/login']">Go Back</button>
                    <button class="next" (click)="next(2, 'personalInfo')">Next Step</button>
                </div>
            </div>
            }
            @case (2) {
            <div class="forms-header">
                <h1>Select your plan</h1>
                <p>You have the option of monthly or yearly billing</p>
            </div>
            <ng-container formGroupName="plan">
                <div class="cards">
                    <ng-container *ngFor="let item of currentPlans(); let i = index">
                      <label class="card1" [class.selected]="regForm.get('plan.stage')?.value === item.id">
                        <input type="radio" formControlName="stage" [value]="item.id" hidden>
                        <img [src]="item.image" alt="">
                        <h6>{{ item.title }}</h6>
                        <p>{{ item.plan }}</p>
                        @if(item.month !== '') {
                          <p class="cls-M">{{ item.month }}</p>
                        }
                      </label>
                    </ng-container>
                  </div>
                <div class="toggle">
                    <p [ngClass]="{ active: !checked() }">Monthly</p>
                    <div>
                        <label class="switch">
                            <input type="checkbox" (change)="checked.set(!checked())" formControlName="duration">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <p [ngClass]="{ active: checked() }">Yearly</p>
                </div>
                <div class="input-btn">
                    <button class="back" (click)="back(1)">Go Back</button>
                    <button class="next" (click)="next(3,'plan')">Next Step</button>
                </div>
            </ng-container>
            }
            @case (3) {
            <div class="forms-header">
                <h1>Pick add-ons</h1>
                <p>Add-ons help enhance your gaming experience.</p>
            </div>
            <ng-container *ngFor="let data of addOnsArray; let i = index">
                <div class="checkData" [ngClass]="{'validate': selectedAddOns.length == 0 && submited }">
                    <div class="checkData1" [ngClass]="{'checked-box': data.checked}" (click)="SelectData(data)">
                        <div class="check-container">
                            <input type="checkbox" [checked]="data.checked" />
                        </div>
                        <div class="content">
                            <h5>{{ data.service }}</h5>
                            <p>{{ data.content }}</p>
                        </div>
                        <div class="plan">
                            <p>{{ data.plan }}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
           
                
            <div class="input-btn">
                <button class="back" (click)="back(2)">Go Back</button>
                <button class="next" (click)="next(4,'addOns')">Next Step</button>
            </div>
            }
            @case (4) {
            <div class="forms-header">
                <h1>Finishing up</h1>
                <p>Double-check everything looks OK before confirming.</p>
            </div>
            <div class="final-plan">
                <div class="final-card">
                    <div class="final-card1">
                        <div class="final-card1-div">
                            <h1>{{filteredArray.title}} {{filteredArray.month == '' ? '(Monthly)' : '(Yearly)'}}</h1>
                            <a class="changePlan" (click)="changePlan()">Change</a>
                        </div>
                        <div class="final-card1-plan">
                            <h1>{{filteredArray.plan}}</h1>
                        </div>
                    </div>
                    <hr>
                    <ng-container *ngFor="let item of selectedAddOns">
                        <div class="final-card2">
                            <div class="final-card2-div">
                                <h2>{{item.service}}</h2>
                                <h2>{{item.plan}}</h2>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
            <div class="final-plan-div">
                <h2>Total (per {{filteredArray.month == '' ? 'month' : 'year'}})</h2>
                <h1>+${{totalAmount}}{{filteredArray.month == '' ? '/mo' : '/yr'}}</h1>
            </div>
            <div class="input-btn">
                <button class="back" (click)="back(3)">Go Back</button>
                <button class="next" (click)="next(5,'finish')">Confirm</button>
            </div>
            }
            @case (5){
            <div class="confirming">
                <div style="display: flex;justify-content: center;margin: 20px;">
                    <div class="cricle">
                        <div class="inner-cricle">
                            <span>&#252;</span>
                        </div>
                    </div>
                </div>
              
                <div class="thankyou" style="text-align: center;">
                    <h1>Thank you!</h1>
                </div>
                <div style="text-align: center;">
                    <p style="color: #737575;">Thanks for confirming your subscription! We hope you have <br> fun using
                        our platform. If you ever neeed support, please feel <br> free to email use at
                        supportloremgaming.com.</p>
                </div>
            </div>
            @if(loader){
                <div class="reg-loader">
                    <app-loader></app-loader>
                </div>
            }
            }
            }
        </div>
    </div>

</div>