<div class="page">
    <div class="container-form">
        <div class="container">
            <h3>Contact Us</h3>
            <div class="col-1">
                <div class="input-field">
                    <label for="">First Name <span>*</span></label>
                    <input type="text">
                </div>
                <div class="input-field">
                    <label for="">Last Name <span>*</span></label> 
                    <input type="text">
                </div>
            </div>
            <div class="col-2">
                <div class="input-email">
                    <label for="">Email Address <span>*</span></label>
                    <input type="email" name="" id="">
                </div>
            </div>
            <div class="col-3">
                <label for="">Query Type <span>*</span></label>
                <div class="select-radio">
                    <div class="input-radio">
                        <div class="query">
                            <label for="gen">
                                <input type="radio" id="gen" name="redio"> General Enquiry
                            </label>
                        </div>
                    </div>
                    <div class="input-radio">
                        <div class="query">
                            <label for="sup">
                                <input type="radio" id="sup" name="redio"> Support Request
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="input-message">
                    <label for="">Message <span>*</span></label>
                    <textarea name="" id=""></textarea>
                </div>
            </div>
            <div class="col-5">
                <div class="input-checkbox">
                    <input type="checkbox" id="ch">
                    <label for="ch">
                        I consent to being contacted by the team <span>*</span>
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="input-btn">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>