<div class="main_container">
    <div class="container1">
        <h2>Angular 18 - A beautiful website for HTML CSS.</h2>
        <p>Unlock the potential of Angular 18 to build beautiful, responsive websites effortlessly. With its powerful features and streamlined development process, you can easily integrate HTML and CSS for captivating user interfaces. Elevate your web projects and engage users with stunning designs that perform flawlessly across all devices. Dive into Angular 18 and transform your web development experience!.</p>
        <div class="button_container">
            <button class="contact-us" [routerLink]="['/contact-us']">Contact Us</button>
        </div>
    </div>
    <div class="container2">
        <img src="dashbord_img/pattern_angular.png" width="100%" height="100%" alt="">
    </div>
</div>